<!DOCTYPE html>
<html>
  <head>
    <title>Street View in Brașov</title>
    <meta charset="utf-8">
    <style>
      html, body, #map-canvas {
        height: 100%;
        margin: 0px;
        padding: 0px;
      }
    </style>
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=true"></script>
    <script>
      var panorama;

      function initialize() {
        var brasov = new google.maps.LatLng(45.657975, 25.601198);

        var mapOptions = {
          center: brasov,
          zoom: 15
        };

        var map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);

        panorama = new google.maps.StreetViewPanorama(document.getElementById('map-canvas'), {
          position: brasov,
          pov: { heading: 0, pitch: 0 },
          zoom: 1
        });

        map.setStreetView(panorama);
      }

      google.maps.event.addDomListener(window, 'load', initialize);
    </script>
  </head>
  <body>
    <div id="map-canvas"></div>
  </body>
</html>
